.item {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #eee;
}
.author {
  font-weight: 700;
  margin-bottom: 10px;
}
.text {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}
.container {
  padding: 0 70px;
}
